/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  font-family: Inter;
} */

@layer utilities {
  .btn_white {
    @apply border-white bg-white px-8 py-3 text-green-50;
  }
  .btn_white_text {
    @apply border-white bg-white px-8 py-3 text-gray-90;
  }
  .btn_green {
    @apply border-green-50 bg-green-50 px-8 py-5 text-white;
  }
  .btn_dark_green {
    @apply bg-green-90 px-8 py-4 text-white transition-all hover:bg-black;
  }
  .btn_dark_green_outline {
    @apply border-gray-20 bg-green-90 px-8 py-5 text-white;
  }

  .max-container {
    @apply mx-auto max-w-[1440px];
  }

  .padding-container {
    @apply px-6 lg:px-20;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  .flexEnd {
    @apply flex items-center justify-end;
  }

  .blockCenter {
    @apply ml-auto mr-auto;
  }

  /* FONTS */
  .regular-64 {
    @apply text-[64px] font-[400] leading-[120%];
  }

  .regular-40 {
    @apply text-[40px] font-[400] leading-[120%];
  }

  .regular-32 {
    @apply text-[32px] font-[400];
  }

  .regular-24 {
    @apply text-[24px] font-[400];
  }

  .regular-20 {
    @apply text-[20px] font-[400];
  }

  .regular-18 {
    @apply text-[18px] font-[400];
  }

  .regular-16 {
    @apply text-[16px] font-[400];
  }

  .regular-14 {
    @apply text-[14px] font-[400];
  }

  .medium-14 {
    @apply text-[14px] font-[600];
  }

  .bold-88 {
    @apply text-[88px] font-[700] leading-[120%];
  }

  .bold-64 {
    @apply text-[64px] font-[700] leading-[120%];
  }

  .bold-52 {
    @apply text-[52px] font-[700] leading-[120%];
  }

  .bold-40 {
    @apply text-[40px] font-[700] leading-[120%];
  }

  .bold-32 {
    @apply text-[32px] font-[700] leading-[120%];
  }

  .bold-26 {
    @apply text-[26px] font-[700] leading-[150%];
  }

  .bold-20 {
    @apply text-[20px] font-[700];
  }

  .bold-18 {
    @apply text-[18px] font-[700];
  }

  .bold-16 {
    @apply text-[16px] font-[700];
  }

  .bold-x {
    @apply text-[20px] font-[900];
  }

  /* Hero */
  .hero-map {
    @apply absolute right-0 top-0 w-screen bg-pattern-2 bg-cover bg-center md:-top-60;
  }

  .formContact {
    @apply left-0 top-0 w-screen bg-bg-contact bg-cover bg-center;
  }

  .main-avtopark {
    @apply w-screen bg-pattern bg-cover bg-center absolute;
  }

  /* Camp */
  .camp-quote {
    @apply absolute -right-6 bottom-4 w-[140px] lg:bottom-10 xl:-right-8 xl:w-[186px] 3xl:right-0;
  }

  /* Feature */
  .feature-phone {
    @apply absolute top-[13%] z-10 hidden max-w-[1500px] rotate-[15deg] md:-left-16 lg:flex  3xl:left-20;
  }

  /* Get App */
  .get-app {
    @apply max-container relative flex w-full  flex-col justify-between gap-32 overflow-hidden bg-green-90 bg-pattern bg-cover bg-center bg-no-repeat px-6 py-12 text-white sm:flex-row sm:gap-12 sm:py-24 lg:px-20 xl:max-h-[598px] 2xl:rounded-5xl;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.cooltext {
  margin: 0;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 64px;
  color: #06caf8;
  --hue: 0;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: hsl(var(--hue), 50%, 95%);
  text-shadow: 0 0 15px hsl(var(--hue), 60%, 90%, 0.8), 0 0 20px hsl(var(--hue), 70%, 80%, 0.85),
    0 0 40px hsl(var(--hue), 80%, 70%, 0.9), 0 0 60px hsl(var(--hue), 90%, 60%, 0.95),
    0 0 80px hsl(var(--hue), 100%, 50%, 1);

  /* @media all and (max-width: 1440px) {
    margin-bottom: 28px;
  }

  @media all and (min-width: 1440px) {
    margin-bottom: 28px;
  } */

  @media all and (max-width: 1024px) {
    font-size: 54px;
  }

  @media all and (max-width: 800px) {
    font-size: 48px;
  }
  @media all and (max-width: 640px) {
    font-size: 38px;
  }
}

.cooltext2 {
  margin: 0;
  margin-bottom: 98px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 48px;
  color: #06f893;
  --hue: -100;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: hsl(var(--hue), 50%, 95%);
  text-shadow: 0 0 15px hsl(var(--hue), 60%, 90%, 0.8), 0 0 20px hsl(var(--hue), 70%, 80%, 0.85),
    0 0 40px hsl(var(--hue), 80%, 70%, 0.9), 0 0 60px hsl(var(--hue), 90%, 60%, 0.95),
    0 0 80px hsl(var(--hue), 100%, 50%, 1);

  @media all and (max-width: 1440px) {
    margin-bottom: 40px;
  }

  @media all and (min-width: 1440px) {
    margin-bottom: 40px;
  }
  /*
  @media all and (max-width: 1024px) {
    font-size: 52px;
    margin-bottom: 20px;
  } */

  @media all and (max-width: 800px) {
    font-size: 42px;
  }
  @media all and (max-width: 500px) {
    font-size: 30px;
    -webkit-text-stroke-width: 2px;
  }
}

.category-list * {
  transition: 0.4s linear;
  list-style-type: circle;
  list-style-position: center;
  padding: 0 30px;
  margin: 0;
}
.category-list li {
  border-bottom: 1px solid #efefef;
  padding: 10px 0;
}
.category-list p {
  text-decoration: none;
  color: #555;
}

.category-list li:hover p {
  color: #c93961;
}
